<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">

    <div id="landing-header">
      <h1>Duolingo</h1>
      <h3 style="color:#000">Learn to make your future</h3>
      <br>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- /#landing-header -->
    <div class="col-xs-12 col-sm-9 col-sm-push-3 product-list">
      <%= render "lessons/lesson_list" %>
    </div><!--/.col-xs-12.col-sm-9-->
    <%= render "layouts/sidebar" %>
  </div><!--/row-->
</div>
