<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 product-list">
      <div class="row row-border">
        <%= render "lessons/lesson_list" %>
      </div>
    </div>
  </div>
</div>
