<div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <p href="#" class="list-group-item active"><strong>Sounds</strong></p>
    <% categories.each do |category| %>
      <%= link_to category.title, search_path(category: category.id), class: "list-group-item" %>
    <% end %>
  </div>
</div><!--/.sidebar-offcanvas-->
